h1{
  font-family: $raleway;
  font-size: $xxxx-large;
  font-weight: $bold;
  color: $raising-black;
}
h2{
  font-family: $raleway;
  font-size: $xx-large;
  font-weight: $bold;
  color: $raising-black;
}

h3{
  font-family: $raleway;
  font-size: $x-large;
  font-weight: $bold;
  color: $raising-black;
}

h4{
  font-family: $raleway;
  font-size: $xxx-large;
  font-weight: $bold;
  color: $raising-black;
}

h5{
  font-family: $raleway;
  font-size: $large;
  font-weight: $regular;
  color: $raising-black;
}

p{
  font-family: $open-sans;
  font-size: $small;
  color: $raising-black;

}
li {
  font-family: $open-sans;
  font-size: $small;
  color: $raising-black;
}