//Esquema de colores

//Primer esquema de colores
$white: #FFF;
$platinum: #E8E8E8;
$gray: #BABABA;


//Segundo esquema de colores
$dark-salmon: #EE9480;
$melon: #F4BAAE;
$pale-pink: #FADFDA;

//Tercer esquema de colores
$ball-blue: #2AB7CA;
$middle-blue: #77D1DD;
$blue-lagoon: #B1E4EB;

//Cuarto esquema de colores
$onyx: #333745;
$spanish-gray: #8F9199;
$lavender-gray: #C7C8CC;

//Quinto esquema de colores
$raising-black: #221D23;
$nickel: #726F73;
$silver-chalice: #AEACAF;

//Tipografía
$raleway: 'Raleway', sans-serif;
$open-sans: 'Open Sans', sans-serif;

//Peso de fuentes
$regular: 400;
$bold: 700;

//Tamaño de fuentes
$xxxxx-large: 3.125rem;
$xxxx-large: 2.8125rem;
$xxx-large: 2.5rem;
$xx-large: 2.1875rem;
$x-large: 1.875rem;
$large: 1.25rem;
$medium: 1rem;
$small: 0.875rem;
$x-small: 0.75rem;
