.header{

  &__texto{
    margin-top: 5rem;
    text-align: left;
    width: 30%;
    position: absolute;
    z-index: 1;
  }
  object{
    
    float: right;
    width: 100vw;
    position: relative;
  }
}

@media (max-width: 768px){
.header{
  &__texto {
    margin-top: 1rem;
    text-align: left;
    width: 90%;
  }
  object{
    float: right;
    width: 200vw;
    margin-top: 150px;
  }
}
}